<h1 class="new-topic-heading">New topic</h1>

<%= render "form", topic: @topic %>

<div class="back-to-topics-link">
  <%= link_to "Back to topics", topics_path, class: "back-to-topics-link" %>
</div>
