<div class="alert alert-warning alert-dismissible fade show custom-alert" role="alert">
  <strong><%= notice %></strong>
  <strong><%= alert %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
